
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 70px;
    padding: 15px;
    text-align: center;
    -webkit-text-stroke: 2px rgb(236, 204, 232);
    color: black;
    background-image:url(https://image.freepik.com/free-vector/cat-paw-footprint-seamless-pattern_42349-871.jpg);
    
}